includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 9
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkModelProperties: true
    noModelMake: true
